
<mat-tab-group>
    <mat-tab label="Beebom">
      <div class="header-space" *ngFor="let data of showData; let i = index">
        <mat-card style="float: left; width: 30%; height: 10%;">
          <img mat-card-image style="object-fit: contain" src="{{data.imageSource}}" alt="Photo of Article">
  
          <mat-card-title>
            {{data.title}}
          </mat-card-title>
  
          <mat-card-content>
            <!-- <p [innerHTML]="description"> -->
            <p>{{data?.summary}}
            </p>
          </mat-card-content>
  
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{data.site_link}}" target="_blank">Go To Article</a>
            <a mat-raised-button color="warn" href="https://www.youtube.com/channel/UCmyUyopM2Jh1T8Ic1G2CsDg"
              target="_blank">Subscribe to Tech Wala Tohi</a>
          </mat-card-actions>
  
        </mat-card>
      </div>
  
    </mat-tab>
    <mat-tab label="Gadget360">
      <div class="header-space" *ngFor="let data of showData; let i = index">
        <mat-card style="float: left; width: 30%; height: 10%;">
          <img mat-card-image style="object-fit: contain" src="{{data.imageSource}}" alt="Photo of Article">
  
          <mat-card-title>
            {{data.title}}
          </mat-card-title>
  
          <mat-card-content>
            <!-- <p [innerHTML]="description"> -->
            <p>{{data?.summary}}
            </p>
          </mat-card-content>
  
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{data.site_link}}" target="_blank">Go To Article</a>
            <a mat-raised-button color="warn" href="https://www.youtube.com/channel/UCmyUyopM2Jh1T8Ic1G2CsDg"
              target="_blank">Subscribe to Tech Wala Tohi</a>
          </mat-card-actions>
  
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="The Verge">
      <div class="header-space" *ngFor="let data of showData; let i = index">
        <mat-card style="float: left; width: 30%; height: 10%;">
          <img mat-card-image style="object-fit: contain" src="{{data.imageSource}}" alt="Photo of Article">
  
          <mat-card-title>
            {{data.title}}
          </mat-card-title>
  
          <mat-card-content>
            <!-- <p [innerHTML]="description"> -->
            <p>{{data?.summary}}
            </p>
          </mat-card-content>
  
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{data.site_link}}" target="_blank">Go To Article</a>
            <a mat-raised-button color="warn" href="https://www.youtube.com/channel/UCmyUyopM2Jh1T8Ic1G2CsDg"
              target="_blank">Subscribe to Tech Wala Tohi</a>
          </mat-card-actions>
  
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Giz China">
      <div class="header-space" *ngFor="let data of showData; let i = index">
        <mat-card style="float: left; width: 30%; height: 10%;">
          <img mat-card-image style="object-fit: contain" src="{{data.imageSource}}" alt="Photo of Article">
  
          <mat-card-title>
            {{data.title}}
          </mat-card-title>
  
          <mat-card-content>
            <!-- <p [innerHTML]="description"> -->
            <p>{{data?.summary}}
            </p>
          </mat-card-content>
  
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{data.site_link}}" target="_blank">Go To Article</a>
            <a mat-raised-button color="warn" href="https://www.youtube.com/channel/UCmyUyopM2Jh1T8Ic1G2CsDg"
              target="_blank">Subscribe to Tech Wala Tohi</a>
          </mat-card-actions>
  
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Tech Radar">
      <div class="header-space" *ngFor="let data of showData; let i = index">
        <mat-card style="float: left; width: 30%; height: 10%;">
          <img mat-card-image style="object-fit: contain" src="{{data.imageSource}}" alt="Photo of Article">
  
          <mat-card-title>
            {{data.title}}
          </mat-card-title>
  
          <mat-card-content>
            <!-- <p [innerHTML]="description"> -->
            <p>{{data?.summary}}
            </p>
          </mat-card-content>
  
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{data.site_link}}" target="_blank">Go To Article</a>
            <a mat-raised-button color="warn" href="https://www.youtube.com/channel/UCmyUyopM2Jh1T8Ic1G2CsDg"
              target="_blank">Subscribe to Tech Wala Tohi</a>
          </mat-card-actions>
  
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  