:host ::ng-deep .mat-tab-header {
    position: relative !important;
    z-index: 100000;
}

.mat-tab-labels {
    justify-content: center !important;
}

.mat-card {
    max-height: 300px;
    max-width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.mat-card:hover {
    max-height: 320px;
    max-width: 27%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: scroll;
    box-shadow: 10px 16px 16px 16px rgba(0, 0, 0, 0.2);
}

img {
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    border-radius: 25px;
}

.header-space {
    margin-top: 5%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(36, 151, 151);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
