<!-- <div class="container">
    <div class="loading">
        <p>loading</p>
        <span></span><span></span><span></span>
    </div>
      <img src="http://birdspin.tk/avatar1333397353_48.gif" >
</div> -->
<router-outlet></router-outlet>